snippet docr "jQuery document ready function" !b
$(document).ready(function() {
    $0
});
endsnippet

snippet jclick "jQuery click event" !b
$('${1:element}').click(function() {
    $0
});
endsnippet

snippet jfun "Some jQuery function" !b
\$('${1:element}').${2:function}(${3:value})
endsnippet
