[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/perdirvimrc"]
	path = bundle/perdirvimrc
	url = https://github.com/vim-scripts/perdirvimrc--Autoload-vimrc-files-per-di.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/vim-scripts/EasyMotion.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/dbgp"]
	path = bundle/dbgp
	url = https://github.com/vim-scripts/DBGp-client.git
[submodule "bundle/vim-dbgp"]
	path = bundle/vim-dbgp
	url = https://github.com/vim-scripts/DBGp-client.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/vim-web-indent"]
	path = bundle/vim-web-indent
	url = git://github.com/lukaszb/vim-web-indent.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/asynccommand"]
	path = bundle/asynccommand
	url = git@github.com:vim-scripts/AsyncCommand
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-ruby-run"]
	path = bundle/vim-ruby-run
	url = git://github.com/stjernstrom/vim-ruby-run.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git@github.com:tpope/vim-rake
[submodule "bundle/vim-rspec"]
	path = bundle/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec
[submodule "bundle/funcoo"]
	path = bundle/funcoo
	url = git@github.com:rizzatti/funcoo.vim.git
[submodule "bundle/dash"]
	path = bundle/dash
	url = git@github.com:rizzatti/dash.vim.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = git@github.com:gregsexton/gitv.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = git@github.com:rking/ag.vim.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tslime"]
	path = bundle/tslime
	url = git@github.com:xaviershay/tslime.vim.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git@github.com:wincent/Command-T.git
